# fastapi[all]

bs4
beautifulsoup4

chainlit

chroma-hnswlib
chromadb

fastapi
fastapi-socketio

google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
googleapis-common-protos

groq

jupyter_client
jupyter_core
langchain
langchain-community
langchain-core
langchain-groq
langchain-text-splitters
langgraph
langserve
langsmith
load-dotenv


oauthlib
ollama

pathlib
pydantic
pydantic_core

pysqlite3-binary
python-dateutil
python-dotenv
python-engineio
python-multipart
python-socketio


requests
requests-oauthlib

SQLAlchemy

urllib3
uvicorn
